body {
    margin: 0;
    padding: 0;
    background: grey;
    font-family: sans-serif;
}

.product1 {
    position: absolute;
    right: 40%;
    width: 300px;
    height: 400px;
    background: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-top: 10px;
}

.product1 .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.product1 .imgbox img {
    display:block;
    width: 80%;
    margin: 10px auto 0;
}

.product2 {
    position: absolute;
    right: 10%;
    width: 300px;
    height: 400px;
    background: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-top: 10px;
}

.product2 .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.product2 .imgbox img {
    display:block;
    width: 80%;
    margin: 10px auto 0;
}

.product3 {
    position: absolute;
    right: 70%;
    width: 300px;
    height: 400px;
    background: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-top: 10px;
}

.product3 .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.product3 .imgbox img {
    display:block;
    width: 80%;
    margin: 10px auto 0;
}

.specifics {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    padding: 10px;
    box-sizing: border-box;
}

.specifics h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.specifics h2 span {
    font-size: 15px;
    color: #ccc;
    font-weight: normal;
}

.specifics .price {
    position:absolute;
    top: 12px;
    right: 25px;
    font-weight: bold;
    color: black;
    font-size: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    font-family: monospace;
}

a {
    display: block;
    padding: 5px;
    color: white;
    margin: 10px 0 0;
    background: green;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: .02s;
    cursor: pointer;
}

a:hover {
    background: lightblue;
}

h4 {
    text-align: center;
    font-family: sans-serif;
}
